/* .boxx {
    height: 10vh;
    width: 50vw;
    background-color: white;
    display: flex;
}

.boxx h1 {
    margin-left: 1vw;
    margin-right: 1vw;
} */

.boxq {
    height: 70%;
    width: 100%;
    background-color: white;

}

/* .boxc {
    height: 30vh;
    width: 50vw;
    background-color: red;
    
} */



.question-panel {
    margin-top: 2vh;
    background-color: white;
    color: #252d4a;
    width: 100%;
    min-height: 65vh;
    height: min-content;
    /* height: auto; */
    border-radius: 0.75vw;
    padding: 1vw;
    /* box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75); */
    /* display: flex;
    justify-content: space-evenly; */
}

.score-section {
    display: flex;
    font-size: 2rem;
    align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
/* .question-section {
    width: 100%;
    position: relative;
} */

.question-count {
    margin-bottom: 1vh;
}

.question-count span {
    font-size: 1.5rem;
}

.question-text {
    margin-bottom: 0.5vh;
    font-size: 1.5rem;
    word-wrap:break-word;
}
.question-img{
    width: 20vw;
    height: auto;
    margin-top: 2vh;
}

.timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section{
    /* width: 50%; */
    display: flex;
    flex-direction: column;   
    
}

.question-panel button {
    /* width: 100%; */
    font-size: 1.2rem;
    color: #000000;
    background-color: #ffffff;
    border-radius: 0.75vw;
    padding: 0.5vw;
    /* justify-content: flex-start; */
    align-items: center;
    border: 2px solid rgb(230, 153, 12);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    word-wrap:break-word;
    margin-bottom: 2vh;

}

.correct {
    background-color: #2f922f;
}

.incorrect {
    background-color: #ff3333;
}

.question-panel button:hover {
    background-color: rgb(20, 248, 119);
    border: 2px black;
    animation:
    bounce 300ms
    alternate infinite
    cubic-bezier(.2, .65, .6, 1);
}
@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }

.question-panel button:focus {
    outline: none;
}

/* .question-panel button svg {
    margin-right: 5px;
} */