.login {
  padding-top: 35vh;
}
body {
  background-color: rgb(255, 173, 50);
}
.center {
  margin-top: 3vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: white;
  border-radius: 1.6vmin;
    
}
.profile{
  margin-left: 7.5vw;
  padding-top: 8vh;
  padding-left: 3vw;
  height: 70%;
  width: 80%;
  border: 2px solid rgb(255, 136, 0);
  border-radius: 1.6vmin;
  display:flex;
}
.info {
  margin-left: 6vw;
  margin-top: 2vw;
  font-size: 1.5rem;
}
.btnmyscore{
  margin-left: 30vw;
}

.namesubject{
  display:flex;
  padding-left: 5vw;
}
.namesubject h3 {
  font-size: 1.3rem;
  padding-top: 1.5vh;
}

.namesub{
  width: 80%;
  margin-left: 2vw;
  
}

.btnsave {
  margin-top: 2vw;
  margin-left: 35vw;
}

.name h3 {
  font-size: 1.3rem;
  margin-top: 2vh;
  margin-left: 3vw;
}

.name li{
  list-style: none;
  margin-left: 13vw;
  margin-top: 1vh;
}


.btnclose{
  margin-left: 1vw;
}

.group{
  display: flex;
}
.groupsub {
  margin-left: 15vw;
  margin-top: 5vh;
  font-size: 1.5rem;
}
.formselect{
  margin-top: 5vh;
  margin-left: 2vw;
  width: 20%;
  height: 100%;
}

.groupquest {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 15vh;
  background-color: white;
  border-radius: 1.6vmin;
}

.groupquest p {
  margin-left: 2vw;
}

.quest{
  display: flex;
}

.quest p {
  margin-top: 3vh;
  margin-left: 2vw;
  font-size: 1.5rem;
}
.btnstart{
  margin-left: 50vw;
  margin-top: 4vh;
}
.datecreate{
  display: flex;
}