.login {
  padding-top: 35vh;
}
body {
  background-color: rgb(255, 173, 50);
}
.center {
  margin-top: 3vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: white;
  border-radius: 1.6vmin;
    
}
.profile{
  margin-left: 7.5vw;
  padding-top: 8vh;
  padding-left: 3vw;
  height: 70%;
  width: 80%;
  border: 2px solid rgb(255, 136, 0);
  border-radius: 1.6vmin;
  display:flex;
}
.info {
  margin-left: 6vw;
  margin-top: 2vw;
  font-size: 1.5rem;
}
.btnmyscore{
  margin-left: 30vw;
}

.namesubject{
  display:flex;
  padding-left: 5vw;
}
.namesubject h3 {
  font-size: 1.3rem;
  padding-top: 1.5vh;
}

.namesub{
  width: 80%;
  margin-left: 2vw;
  
}

.btnsave {
  margin-top: 2vw;
  margin-left: 35vw;
}

.name h3 {
  font-size: 1.3rem;
  margin-top: 2vh;
  margin-left: 3vw;
}

.name li{
  list-style: none;
  margin-left: 13vw;
  margin-top: 1vh;
}


.btnclose{
  margin-left: 1vw;
}

.group{
  display: flex;
}
.groupsub {
  margin-left: 15vw;
  margin-top: 5vh;
  font-size: 1.5rem;
}
.formselect{
  margin-top: 5vh;
  margin-left: 2vw;
  width: 20%;
  height: 100%;
}

.groupquest {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 15vh;
  background-color: white;
  border-radius: 1.6vmin;
}

.groupquest p {
  margin-left: 2vw;
}

.quest{
  display: flex;
}

.quest p {
  margin-top: 3vh;
  margin-left: 2vw;
  font-size: 1.5rem;
}
.btnstart{
  margin-left: 50vw;
  margin-top: 4vh;
}
.datecreate{
  display: flex;
}

.groupsub2 {
  margin-left: 3vw;
  margin-top: 5vh;
  font-size: 1.2rem;
}
.namequestion{
  display:flex;
  margin-top: 2vh;
  margin-left: 3vw;
}
.namequestion h3{
  padding-top: 1vh;
  font-size: 1.2rem;
}
.nameque{
  width: 80%;
  margin-left: 2vw
}

.nameque2{
  width: 80%;
  margin-left: 4.6vw
}
.nameque3{
  width: 80%;
  margin-left: 2.5vw
}

.btnaddchoice{
  margin-top: 2vw;
  margin-left: 55vw;
}
.btnaddque{
  margin-top: 1vw;
  margin-left: 60vw;
}
.btnedit{
  margin-left: 46vw;
  margin-top: 4vh;
}
.btndel{
  margin-left: 0.5vw;
  margin-top: 4vh;
}

.btncre{
  margin-left: 1vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
}
.nameset{
  display: flex;
  margin-top: 5vh;
  margin-left: 15vw;
}
.nameset p {
  font-size: 1.5rem;
}
.nameset input{
  margin-left: 1vw;
  width: 50%;
}
.nameset button{
  margin-left: 1vw;
}
  
.formsel{
  margin-left: 2vw;
  width: 50%;
  height: 100%;
}

.creques{
  display: block;
  margin-top: 5vh;
  margin-left: 15vw;
}
.creques input{
  margin-bottom: 2vh;
  width: 82%;
}
.creques button{
  margin-left: 64vw;
  margin-bottom: 5vh;
}
.creques p {
  margin-bottom: 0.5vh;
}

.questsave{
  display: block;
}
.questsave p{
  font-size: 1.2rem;
  display: flex;
}
.questsave button {
  margin-left: 62vw;
}
.table{
  padding-left: 2vw;
  padding-right: 2vw;
}
.search{
  width: 20%;
  height: 100%;
  margin-left: 1vw;
  margin-top: 2.5vw;
}

.scorehead{
  display:flex;
  margin-left: 12vw;
}
.scorehead h3{
  margin-left: 24vw;
  margin-top: 5.5vh;
  font-size: 1.2rem;
}
.groupcreate {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 5vh;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 1.6vmin;
  width: 70%;
  height: auto;
}

.inputques{
  width: 80%;
  margin-left: 1vw;
}
.inputquest{
  width: 80%;
  margin-left: 3vw;
}

.lobby h1{
  font-size: 1.5rem;
  padding-left: 2vw;
}
.ready{
  display: flex;
  justify-content: center;
}

.room {
  width: 7vw;
  height: 11vh;
  background:rgb(18, 20, 23);
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-bottom: 1.5vh;
  margin-top: 1vh;
  text-align: center;
  font-size: 1.2rem;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
}
.room a{
  text-decoration: none;
  color: black;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  background-color:rgb(103, 177, 186);
}

.room p{
  color: white;
  font-size: 1rem;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  margin-top: 0.5vh;
  margin-bottom: 0vh;
  border: 0.1vw solid white;
  padding: 0.05vw;
  border-radius: 0.3vw;
}

.breakout{
  display: flex;
  justify-content: center;
}
.left{
  width: 60%;
}
.headleft{
  margin-top: 3vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
  width: 100%;
  background-color: white;
  border-radius: 1.6vmin;
}

.right{
  margin-top: 3vh;
  padding-bottom: 3vh;
  margin-left:1vw;
  width: 30%;
  background-color: white;
  border-radius: 1.6vmin;
}

.righthead {
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: 2px solid white;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  background-color:rgb(255, 145, 0);
}

.questleft{
  margin-top: 3vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  width: 100%;
  background-color: white;
  border-radius: 1.6vmin;
}

.btnnext {
  margin-left: 50vw;
  margin-top: 4vh;
}

.right h3 {
  text-align: center;
}
.chat{
  width: 80%;
  margin-top: 44vh;
  margin-left: 2vw;
}