.bar {
  text-align: center;
  display: block;
}
.bar2 {
  text-align: center;
  display: block;
  font-size: 2rem;
  color: rgb(255, 120, 0);
}


.mainbar {
  padding-left: 5vw;
  
}
.logo {
  font-size: 2rem;
}
.me-auto {
  margin-left: 15vw;
}
.subbar2 {
  margin-right: 5vw;
}
.justify-content-end {
  margin-right: 2vw;
}
.subbar3 {
  margin-right: 1vw;
}


